=title "Luchia Bloomfield - Designer, Developer"
.container
	.row
		.col-md-6.col-md-offset-3.pushdown
			%h1 Sign In

			= form_tag do
				%fieldset
				%div
					%br
					=text_field_tag :name, params[:name], placeholder: "Username"
				%div
					%br
					=password_field_tag :password, params[:password], placeholder: "Password"
				%div
					%br
					=submit_tag "Login"