%div{ :id => "about-home" }
	%div{ :class => "container" }
		%div{ :id => "text-container" }
			%div{ :class => "row" }
				%section
					%div{ :class => "col-md-6 col-md-offset-3 pushdown" }
						%h1{ :class => "grey" } Welcome
						%h3 Let's get started