#work
  .container
    #text-container
      .row
        .col-md-8.col-md-offset-2
          %h2.grey Portfolio
          -if User.find_by_id(session[:user_id])
            %p.left-aligned=link_to 'New Entry', new_portfolio_path
          -else
            %br

          - @portfolios.each do |portfolio|
            =link_to markdown(portfolio.content).first(153).html_safe, portfolio
            %br
            
            %p.text-right
              -if User.find_by_id(session[:user_id])
                =link_to 'Edit', edit_portfolio_path(portfolio)
                |
                =link_to 'Delete', portfolio, method: :delete, data: { confirm: 'Are you sure?' }
              -else 
                %br


#contact
  .container
    .pushdown
      %section
        %h3.text-center.italic
          %span.brisbane
            Like what you see?
            =link_to 'Hire Me', '/contact'