=title "Branding, Web Design & Development for Small Businesses"
#work.img-responsive
  .container
    #text-container
      .row
        .col-md-8.col-md-offset-2
          %h2.grey.pushdown Portfolio
          -if User.find_by_id(session[:user_id])
            %p.left-aligned
              =link_to 'New Entry', new_portfolio_path
          -else
            %br
          %p=will_paginate

          -@portfolios.each do |portfolio|
            =link_to markdown(portfolio.content).first(72).html_safe, portfolio
            %br
            
            %p.text-right
              -if User.find_by_id(session[:user_id])
                =link_to 'Edit', edit_portfolio_path(portfolio)
                |
                =link_to 'Delete', portfolio, method: :delete, data: { confirm: 'Are you sure?' }
              -else 
                %br

          %p=will_paginate


#contact
  .container
    .pushdown
      %section
        %h3.text-center.italic
          %span.brisbane
            I will create a standout digital solution for your business.
        %h2.text-center.italic
          %span.brisbane
            =link_to 'Hire me.', '/contact'