#work
	.container
		#text-container
			.row
				.col-md-10.col-md-offset-1
					%h2.orange New Portfolio Entry
					.row
						.col-md-5
							= render 'form'
						.col-md-5
							#markup-area

					= link_to 'Back', portfolios_path