%div{ :id => "work" }
	%div{ :class => "container" }
		%div{ :id => "text-container" }
			%div{ :class => "row" }
				%div{ :class => "col-md-10 col-md-offset-1" }
					%h2{ :class => "orange" } New Portfolio Entry
					%div{ :class => "row" }
						%div{ :class => "col-md-5" }
							= render 'form'
						%div{ :class => "col-md-5" }
							%div{ :id => "markup-area" }

					= link_to 'Back', portfolios_path