%div{ :id => "footer" }
	%div{ :class => "container" }
		%div{ :id => "text-container" }
			%div{ :class => "col-md-offset-2 col-md-8" }
				%br
				%h2{ :class => "orange" }
					= @portfolio.title

				%p{ :class => "italic" }
					= @portfolio.date

				%p{ :class => "grey" }
					=markdown(@portfolio.content).html_safe
					
				%p
					%a{ :href => "/work/" } Back