=title @portfolio.title 

.container.img-responsive
	.col-md-offset-2.col-md-8.pushdown
		%br
		%h2
			= @portfolio.title

		%p
			=markdown(@portfolio.content).html_safe
			
		%h3.text-right
			=link_to 'Back', portfolios_path
