=title @portfolio.title 

.container.pushdown.img-responsive
	.row
		.col-md-2
			%br
			%p= link_to 'Back', portfolios_path
		.col-md-8
			%h2
				= @portfolio.title

			%p
				=@portfolio.body
				=markdown(@portfolio.content).html_safe
			%br
			%br
