=title @portfolio.title 
#footer.img-responsive
	.container
		#text-container
			.col-md-offset-2.col-md-8
				%br
				%h2.grey
					= @portfolio.title

				%p.grey
					=markdown(@portfolio.content).html_safe
					
				%h3.grey.text-right
					=link_to 'Back', portfolios_path
