.container.pushdown
  .row
    .col-md-2
      %h2 Users
      %p=link_to 'New User', new_user_path

    .col-md-8
      -@users.each do |user|
        %h1.text-center=user.name
        %br
        %p.text-center=link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }