%div{ :id => "footer" }
  %section
    %div{ :class => "container" }
      %div{ :id => "text-container" }
        %div{ :class => "row" }
          %div{ :class => "col-md-8 col-md-offset-2" }
            %h2{ :class => "orange" } Listing Users

            %table
              %thead
                %tr
                  %th 
                    %h5 Name
              %tbody
                - @users.each do |user|
                  %tr
                    %td
                      %h5=user.name
                    %td=link_to 'Show', user
                    %td=link_to 'Edit', edit_user_path(user)
                    %td=link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

            %br
            %h5=link_to 'New User', new_user_path
