#home
	%section
		.container
			.row
				.col-md-offset-4.col-md-8
					%h1.orange.slogan
						Hello,
						I'm Luchia.
					%p.grey Scroll down to learn more.

#about
	.container
		#text-container
			%h1.white.text-center.italic
				I design & develop beautiful websites that 
				%br
				drive traffic and increase my clients revenue.
			%br
			.row
				.col-md-4
					%h3 Digital Design
					%p.grey
						Digital design is my passion and I specialise in Branding Identities and Website Design. I enjoy creating modern, timeless identities that will serve my clients without becoming out of fashion.
				.col-md-4
					%h3 Web Development
					%p.grey
						I build clean, professional and responsive websites. I believe in designing mobile first and create beautiful websites with great content architecture. I'm working Ruby on Rails, HTML5 & CSS3 at the moment.
				.col-md-4
					%h3 Photography
					%p.grey
						I've been behind the lense since I was 12 years old - composing a great photo is an obsession that I can't get over. I love candid-style photos and shoot weddings, fashion and every day life.

#work
	.container
		#text-container
			%section
				.row
					.col-md-8.col-md-offset-2
						-@portfolios.each do |portfolio|
							=link_to markdown(portfolio.content).first(70).html_safe, portfolio
							%br


				%p.left-aligned.white
					%br
					%br
					=link_to 'See more', '/portfolios/'

#contact
	.container
		.pushdown
			%section
				%h3.text-center.italic
					%span.brisbane
						Based in Brisbane, Australia.
						=link_to 'Interested?', '/contact'
