=title "Luchia Bloomfield - Help Your Business Grow"
#home
	%section
		.container
			.row
				.col-md-offset-4.col-md-8.text-justify.slogan
					%h1.orange
						Hello, I'm Luchia.
					%h1.grey.catchphrase
						I create unique digital solutions that increase traffic and revenue. Scroll down to see more.
					%p.grey 