=title "Luchia Bloomfield - Help Your Business Grow"
#home
	%section
		.container
			.row
				.col-md-offset-4.col-md-8.slogan
					%h1
						Hello, I'm Luchia.
					%h1
						I solve business problems with unique digital solutions.