%div{ :id => "home" }
	%section
		%div{ :class => "container" }
			%div{ :class => "row"}
				%div{ :class => "col-md-offset-4 col-md-8" }
					%h1{ :class => "orange slogan italic" } 
						Hello, I'm Luchia.
					%h5{ :class => "grey" } Scroll down to learn more.

%div{ :id => "about" }
	%div{ :class => "container" }
		%div{ :id => "text-container" }
			%h1{ :class => "white text-center" } 
				I am passionate about blah blah blah blah
			%br
			%div{ :class => "row" }
				%div{ :class => "col-md-4" }
					%h3 Design
					%h5{ :class => "grey" }
						Digital design is my passion and I specialise in Branding Identities and Website Design. 
						I place a strong importance on user experience and design websites that are easy to access and absorb content. I believe in designing mobile first so your users can access your information any where, any time.
				%div{ :class => "col-md-4" }
					%h3 Photography
					%h5{ :class => "grey" }
						In my mind, photography is a way of translating a moment in time to others without them having to be there. 
						I've been behind the lense since I was 12 years old and am still fascinated by the things I find to take photos of. Composing a great photo is an obsession that I can't get over.
				%div{ :class => "col-md-4" }
					%h3 Travel
					%h5{ :class => "grey" }
						I'm currently working remotely while travelling across the world, nomad-style.

%div{ :id => "work" }
	%div{ :class => "container" }
		%div{ :id => "text-container" }
			%section
				%h1{ :class => "orange" } Work
				%div{ :class => "row" }
					-@portfolios.each do |portfolio|
						%div{ :class => "col-md-4" }
							%h3
								%a{ :href => 'portfolios/'+portfolio.id.to_s }=portfolio.title
							%h5=truncate(strip_tags(portfolio.content), length: 80)	

				%p{ :class => "left-aligned white" }
					%br
					%br
					%a{ :href => "/work" }
						See more

%div{ :id => "contact" }
	%div{ :class => "container" }
		%div{ :class => "pushdown" }
			%section
				%h1{ :class => "text-center" }
					%span{ :class => "brisbane" }
						Based in Brisbane, Australia.
						%a{ :href => "/contact/index" } 
							Interested?