=title "Luchia Bloomfield - Help Your Business Grow"
#home
	%section
		.container
			.row
				.col-md-offset-2.col-md-8.text-center
					%h1.orange.slogan
						Hello, I'm Luchia.
					%p.grey Scroll down to learn more.

#about
	.container
		#text-container
			%h1.white.text-center.italic
				I create unique digital solutions that increase traffic and revenue.
			%br
			.row
				.col-md-4
					%h3 Digital Design
					%p.grey
						Digital design is my passion and I specialise in Branding Identities and Website Design. I create timeless pieces that drive traffic, increase brand recognition and referrals for my clients.
				.col-md-4
					%h3 Web Development
					%p.grey
						I develop mobile-friendly websites that allow users to purchase anywhere, at any time. I design with the intention to specifically elicit a response (eg. purchasing my client's products) from viewers.
				.col-md-4
					%h3 Social Media Marketing
					%p.grey
						I take businesses from their first like to their 8000th like. With a proven strategy, I've increased engagement, traffic and sales for my clients while helping their brand recognition improve.

#work.img-responsive
	.container
		#text-container
			%section
				.row
					.col-md-8.col-md-offset-2
						%h2.grey My Recent Work
						-@portfolios.each do |portfolio|
							=link_to markdown(portfolio.content).first(72).html_safe, portfolio
							%br


						%p.left-aligned
							%br
							%br
							=link_to 'See more', '/portfolios/'

#contact
	.container
		.pushdown
			%section
				%h3.text-center.italic
					%span.brisbane
						Let's make your business shine.
				%h2.text-center.italic
					%span.brisbane
						=link_to 'Contact me now.', '/contact'
