=title "Luchia Bloomfield - Help Your Business Grow"
#home
	.container
		.row
			.col-md-offset-4.col-md-8.slogan
				%h1.home
					Hello, I'm Luchia.
				%h1.home
					I solve business problems with unique digital solutions.