%div{ :id => "home" }
	%section
		%div{ :class => "container" }
			%div{ :class => "row"}
				%div{ :class => "col-md-offset-4 col-md-8" }
					%h1{ :class => "orange slogan italic" } 
						Hello, I'm Luchia.
					%h5{ :class => "grey" } Scroll down to learn more.

%div{ :id => "about" }
	%div{ :class => "container" }
		%div{ :id => "text-container" }
			%h1{ :class => "white text-center" } 
				I design, develop & take photos - yup, multi-talented.
			%br
			%div{ :class => "row" }
				%div{ :class => "col-md-4" }
					%h3 Design & Development
					%h5{ :class => "grey" }
						Digital design is my passion and I specialise in Branding Identities and Website Design. I design websites that are beautiful, easy-to-use and with great content architecture.
				%div{ :class => "col-md-4" }
					%h3 Photography
					%h5{ :class => "grey" }
						I've been behind the lense since I was 12 years old - composing a great photo is an obsession that I can't get over. I love candid-style photos and shoot weddings, fashion and every day life.
				%div{ :class => "col-md-4" }
					%h3 Travel
					%h5{ :class => "grey" }
						I'm working remotely for my current clients while I travel the world with a small backpack filled with my belongings.
						%br You can read about my adventures on my Journal.

%div{ :id => "work" }
	%div{ :class => "container" }
		%div{ :id => "text-container" }
			%section
				%div{ :class => "row" }
					-@portfolios.each do |portfolio|
						%div{ :class => "col-md-4" }
							%h3
								%a{ :href => 'portfolios/'+portfolio.id.to_s }=portfolio.title
							%h5{ :class => "grey" }=truncate(strip_tags(portfolio.content), length: 80)	

				%p{ :class => "left-aligned white" }
					%br
					%br
					%a{ :href => "/work" }
						See more

%div{ :id => "contact" }
	%div{ :class => "container" }
		%div{ :class => "pushdown" }
			%section
				%h1{ :class => "text-center" }
					%span{ :class => "brisbane" }
						Based in Brisbane, Australia.
						%a{ :href => "/contact/index" } 
							Interested?