%div{ :id => "work-home" }
  %section
    %div{ :class => "container" }
      %div{ :class => "row"}
        %div{ :class => "col-md-offset-4 col-md-8" }
          %h1{ :class => "orange italic slogan" } 
            Discoveries
          %p{ :class => "grey" } through Branding, Web Design & other Mediums

%div{ :id => "about" }
  %br
  %br

%div{ :id => "work" }
  %div{ :class => "container" }
    %div{ :id => "text-container" }
      %div{ :class => "row" }

        - @portfolios.each do |portfolio|
          %div{ :class => "col-md-4" }
            %h3
              %a{ :href => '/portfolios/'+portfolio.id.to_s }=portfolio.title
            %p{ :class => 'grey' }=truncate(portfolio.content, length: 100)
            %br

%div{ :id => "contact" }
  %div{ :class => "container" }
    %div{ :class => "pushdown" }
      %section
        %h2{ :class => "text-center" }
          %span{ :class => "brisbane" } 
            Like what you see? 
            %a{ :href => "/contact" } 
              Hire Me