#work-home
  %section
    .container
      .row
        .col-md-offset-4.col-md-8
          %h1.orange.italic.slogan
            Discoveries
          %p.grey through Branding, Web Design & other Mediums

#about
  %br
  %br

#work
  .container
    #text-container
      %h3.grey
        Click to see more
      %br
      .row

        - @portfolios.each do |portfolio|
          .col-md-8.col-md-offset-2
            =link_to markdown(portfolio.content).first(52).html_safe, portfolio
            %br

#contact
  .container
    .pushdown
      %section
        %h2.text-center
          %span.brisbane
            Like what you see? 
            =link_to 'Hire Me', '/contact'