%div{ :id => "work" }
  %div{ :class => "container" }
    %div{ :id => "text-container" }
      %div{ :class => "row" }
        %div{ :class => "col-md-8 col-md-offset-2" }
          %h2{ :class => "orange" } Journal
          %h5{ :class => "left-aligned" }=link_to 'New Entry', new_journal_path
          %br
          - @journals.each do |journal|
            %h3
              %a{ :href => '/journals/'+journal.id.to_s }=journal.title
            %h5{ :class=> "grey" }= journal.date
            %h5= journal.content
            %h5=link_to 'Edit', edit_journal_path(journal)
            %h5=link_to 'Delete', journal, method: :delete, data: { confirm: 'Are you sure?' }
            %br