#work
  .container
    #text-container
      .row
        .col-md-8.col-md-offset-2
          %h2.orange Journal
          %p.left-aligned=link_to 'New Entry', new_journal_path
          %br

          - @journals.each do |journal|
            %h3
              %a{ :href => '/journals/'+journal.id.to_s }=journal.title

            %p{ :class=> "grey" }= journal.created_at.strftime("%d %b, %Y")
            %p= journal.content
            %p=link_to 'Edit', edit_journal_path(journal)
            %p=link_to 'Delete', journal, method: :delete, data: { confirm: 'Are you sure?' }
            %br