=title "Luchia Bloomfield - Travelling Business Consultant"
#work
  .container
    #text-container
      .row
        .col-md-8.col-md-offset-2
          %h2.grey Journal
          %p Things that happen to me, that I want to share with you.
          -if User.find_by_id(session[:user_id])
            %p.left-aligned=link_to 'New Entry', new_journal_path
          -else
            %br

          - @journals.each do |journal|
            %h3
              =link_to journal.title, journal

            %p.grey= journal.created_at.strftime("%d %b, %Y")

            %p= truncate(journal.content, length: 250)

            %p.text-right
              -if User.find_by_id(session[:user_id])
                =link_to 'Edit', edit_journal_path(journal)
                |
                =link_to 'Delete', journal, method: :delete, data: { confirm: 'Are you sure?' }
              -else
                %br

