=title "Luchia Bloomfield - Travelling Business Consultant"

.container.img-responsive.pushdown
  .row
    .col-md-2
      -if User.find_by_id(session[:user_id])
        %p.left-aligned=link_to 'New Entry', new_journal_path
      -else
        %br
    .col-md-8
      - @journals.each do |journal|
        %h3.text-center
          =link_to journal.title, journal

        %p.text-center= journal.created_at.strftime("%d %b, %Y")

        %p.text-center= truncate(journal.content, length: 250)

        %p.text-right
          -if User.find_by_id(session[:user_id])
            =link_to 'Edit', edit_journal_path(journal)
            |
            =link_to 'Delete', journal, method: :delete, data: { confirm: 'Are you sure?' }
          -else
            %br

      %p=will_paginate
      %br
      %br

#subscribe
  .container
    %h1.text-center
      Like my writing? Subscribe below:
    %br
    =form_tag('/emailapi/subscribe', method: "post", id: "subscribe", remote: "true", :class => "centered") do
      .centered
        =email_field(:email, :address, {id: "email", placeholder: "email address"})
        %br
        =submit_tag("Sign me up!", :class=> "subscribe")