=title @journal.title 

.container.pushdown.img-responsive
	.row
		.col-md-2
		%br
			%p= link_to 'Back', journals_path
		.col-md-8
			%h2
				= @journal.title

			%p
				=markdown(@journal.content).html_safe

#subscribe
	.container
		%h1.text-center
			Like my writing? Subscribe below:
		%br
		=form_tag('/emailapi/subscribe', method: "post", id: "subscribe", remote: "true", :class => "centered") do
			.centered
				=email_field(:email, :address, {id: "email", placeholder: "Email Address"})
				%br
				=submit_tag("Sign me up!", :class=> "subscribe")