=title @journal.title 

.container.pushdown.img-responsive
	.row
		.col-md-2
			%p= link_to 'Back', journals_path
		.col-md-8
			%h2
				= @journal.title

			%p
				=markdown(@journal.content).html_safe