%div{ :id => "footer" }
	%div{ :class => "container" }
		%div{ :id => "text-container" }
			%div{ :class => "col-md-offset-2 col-md-8" }
				%br
				%h2{ :class => "orange" }
					= @journal.title

				%p
					= @journal.created_at.strftime("%d %b, %Y")

				%p
					=markdown(@journal.content).html_safe

				%p
					%a{ :href => "/blog/" } Back