=title @journal.title
.container.img-responsive
	.col-md-offset-2.col-md-8.pushdown
		%br
		%h2
			= @journal.title

		%p
			= @journal.created_at.strftime("%d %b, %Y")
		%br

		%p
			=markdown(@journal.content).html_safe

		%h3.text-right
			=link_to 'Back', journals_path