%div{ :id => "work-home" }
  %section
    %div{ :class => "container" }
      %div{ :class => "row"}
        %div{ :class => "col-md-offset-4 col-md-8" }
          %h1{ :class => "orange italic slogan" } 
            Ramblings
          %p{ :class => "grey" } about Design, Photography & Travel

%div{ :id => "about" }
  %br
  %br

%div{ :id => "footer" }
  %div{ :class => "container" }
    %div{ :id => "text-container" }
      %div{ :class => "col-md-offset-2 col-md-8" }
        %br
        - @journals.each do |journal|
          %h3
            %a{ :href => '/journals/'+journal.id.to_s }=journal.title
          %p
            = journal.date
          %p{ :class => "grey" }
            = truncate(strip_tags(journal.content), length: 150)
          %br
          %br
          %br
