#work-home
  %section
    .container
      .row
        .col-md-offset-4.col-md-8
          %h1.orange.italic.slogan 
            Ramblings
          %p.grey about Design, Photography & Travel

#about
  %br
  %br

#footer
  .container
    #text-container
      .col-md-offset-2.col-md-8
        %br
        - @journals.each do |journal|
          %h3
            =link_to journal.title, journal
          %p
            = journal.created_at.strftime("%d %b, %Y")
          %p.grey
            = truncate(strip_tags(journal.content), length: 350)
          %br
          %br
          %br