#work-home
	%section
		.container
			#text-container
				.row
					.col-md-5.col-md-offset-6
						%h3.italic.about say lu-chi-ah
						%p.grey
							I grew up in Australia and attended the University of the Sunshine Coast for two years, studying a Bachelor of Computer-Based Design. I found I was working more and more and had less time for assignments, so I decided that university wasn't for me and struck out alone as a freelancer.
							%br
							%br
							I'm really into designing websites that are clean, modern and easy-to-use. But I'm not just a designer - I develop websites too. I've worked for some great companies so far - Brian Keayes at ae creative, Zen Savona and JosephMark, Brisbane. 
							%br
							%br
							If I'm not designing, I'm making lists, taking photos, meeting goals and nailing time-management. Oh, and I make the best smoothies ever.
