=title "About - Small Business Designer & Consultant"
#work-home
	%section
		.container
			#text-container
				.row
					.col-md-5.col-md-offset-6
						%p.grey.about
							I've been freelancing for small to medium sized businesses for the last four years and if there is one that makes me excited, it's seeing a business grow because of my work. 
							%br
							%br
							And that's what's happened for my clients - their businesses expand, their revenue increases and they get a real return on their investment with me.
							%br
							%br
							I am enthusiastic about the people that I work with and this translates to a quick and efficient turnover on projects. The best bit? I am approachable and available for long-term work with businesses.
							%br
							%br