%div{ :id => "about-home" }
	%section
		%div{ :class => "container" }
			%div{ :id => "text-container" }
				%div{ :class => "row" }
					%div{ :class => "col-md-5 col-md-offset-6" }
						%h3{ :class => "italic pushdown" } say lu-chi-ah
						%h5{ :class => "grey" }
							My obsession with grid layouts started in the kitchen cupboard - anyone who didn't put the jars back in the right spot, with the labels facing forward was in big trouble!

						%h5{ :class => "grey" }	
							I've worked for some pretty great people since I started designing - Brian Keayes at aecreative, Zen Savona at Haze and currently JosephMark, Brisbane.

						%h5{ :class => "grey" }
							I love clean, minimalistic design that is user-friendly and beautiful at the same time. I've designed for print, but have a soft spot for all things digital.

						%h5{ :class => "grey" }
							If I'm not designing, I'm making lists, meeting goals and nailing time-management. Oh, and I make the best smoothies ever.