=title "Contact - Branding, Web Design & Development"
#work-home
	.container
		#text-container
			.row
				.col-md-8.col-md-offset-4.text-center
					%h2.orange.about Get ahead of your competitors
					.row
						.col-md-4
							%h3.white Email
							%p
								=link_to 'hello@luchia.com.au', 'mailto:hello@luchia.com.au'
						.col-md-4
							%h3.white Twitter
							%p
								=link_to '@luchiamae', 'http://www.twitter.com/luchiamae', :target => 'blank'
						.col-md-4
							%h3.white or Skype
							%p
								lucybloomfield92