#about-home
	.container
		#text-container
			.row
				%section
					.col-md-5.col-md-offset-6
						%br
						%br
						%br
						%h2.orange Get ahead of your competitors
						.row
							.col-md-4
								%h3.white Email
								%p
									=link_to 'hello@luchia.com.au', 'mailto:hello@luchia.com.au'
							.col-md-4
								%h3.white Twitter
								%p
									=link_to '@luchiamae', 'http://www.twitter.com/luchiamae', :target => 'blank'
							.col-md-4
								%h3.white or Skype
								%p
									lucybloomfield92