=title "Contact - Branding, Web Design & Development"
#home
	.container
		.row
			.col-md-8.col-md-offset-4.about

				%h3 Email
				%p=link_to 'hello@luchia.com.au', 'mailto:hello@luchia.com.au'

				%h3 Twitter
				%p=link_to '@luchiamae', 'http://www.twitter.com/luchiamae', :target => 'blank'

				%h3 or Skype
				%p=link_to 'lucybloomfield92', 'skype:lucybloomfield92?call'