/* Fontfaces */
@import url(http://fonts.googleapis.com/css?family=Roboto:300);


/* Built in Elements */

body {
	padding: 0;
	margin: 0;
	background-color: #FFFFFF;
	height: 100%;
}

html, body {
    height:100%;
}

section {
  margin: 0 auto;
}


/* Text Elements */

h1 {
	color: #1c1c1c;
	font-size: 3em;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 3px;
}

h2 {
	color: #444444;
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	line-height:1.5em;
	letter-spacing: 1.5px;
}

h3 {
	color: #444444;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
}

h4 {
	font-size: 1.5em;
}

p, .pagination {
	color: #656565;
	line-height: 2em;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1.5px;
	font-size: 1.2em;
}

.pagination {
	display: block;
	text-align: center;
}

li {
	color: #656565;
	line-height: 2em;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1.5px;
	font-size: 1.2em;
}

a {
	background-color: #FFFFFF;
	color: #444444;
}

a:focus, a:visited {
	text-decoration: none;
	background-color: #ffffff;
	color: #444444;
}

a:hover, a:active {
	color: orange !important;
	background-color: #ffffff !important;
	text-decoration: none;
}

.slogan {
	padding-top: 30%;
}

.about {
	padding-top: 15%
}

.pushdown {
	padding-top: 10%;
}



/* Navigation Elements */

.navbar {
	background-color: transparent;
	max-width: 100%;
	position: fixed;
}

.navbar-inner {
	padding-left: 30px;
	padding-right: 30px;
	border: none;
}

.nav li {
	padding-top: 15px;
	color: #FFFFFF;
	padding-left: 15px;
}

.nav li a {
	text-decoration: none;
	text-shadow: none !important;
	text-transform: uppercase;
}


.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
	color: orange;
	background-color: transparent;
}

.nav-collapse .nav > li > a {
	font-weight: normal !important;
}

@media screen and (max-width: 480px) {
   .nav > li > a {
    display: block !important;
   }
}


/* Container Elements */

#home {
	min-height: 100%;
	min-width: 100%;
	width: 100%;
	background-image: url(image_path('bg-white.jpg'));
	background-color: #FFFFFF;
	display: block;
	top: 0;
	left: 0;
	z-index: 2;
	margin: 0 auto;
    padding: 0;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#work-home {
	min-height: 100%;
	min-width: 100%;
	width: 100%;
	height: auto;
	background-image: url(image_path('bg3.jpg'));
	background-color: #000000;
	background-position: fixed;
	display: block;
	max-width: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	margin: 0 auto;
    padding: 0;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#contact {
	height: 450px;
	background-image: url(image_path('brisbane.jpg'));
	background-color: #e3e3e3;
	background-position: fixed;
	display: block;
	max-width: 100%;
	z-index: 0;
}

#about {
	background-color: #1c1c1c;
	display: block;
	max-width: 100%;
}

#work {
	background-color: #ffffff;
	display: block;
	max-width: 100%;
}

#container {
	max-width: 800px;
	margin-left: 40%;
	padding-right: 10%;
}

#footer {
	background-color: #e7e7e7;
	display: block;
	max-width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}



/* Image Elements */

.logos {
	opacity: 0.2;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.thumbnails-img {
	max-width:25%;
}



/* Fields */

label {
	color: #e7e7e7;
}

input {
	font-family: 'Ruda', sans-serif;
	letter-spacing: 0.5px;
	height: 2em;
	color: #656565;
	background: #e7e7e7;
	border: 1px solid #444444;
}

input:hover {
	font-family: 'Ruda', sans-serif;
	color: orange;
}

input#name, input#password {
	font-family: 'Ruda', sans-serif;
	letter-spacing: 0.5px;
	height: 2em;
	color: #656565;
	background: #e7e7e7;
	border: 1px solid #444444;
}

button, select {
	font-family: 'Ruda', sans-serif;
	letter-spacing: 0.5px;
	color: #e7e7e7;
	background: #000000;
	border: 1px solid #444444;
}

textarea {
	width: 400px;
	height: 300px;
	font-family: 'Ruda', sans-serif;
	letter-spacing: 0.5px;
	color: #656565;
	background: #e7e7e7;
	border: 1px solid #444444;
}


.btn .btn-navbar {
	background-color: transparent;
}

.navbar-toggle .icon-bar {
	background-color: orange;
}


/**** Categories styling *****/


ul.tags {
	float: left;
	display: inline !important;
}

li.categories {
	list-style-type: none !important;
	display: inline;

	a {
		font-family: 'Alegreya Sans', sans-serif;
		font-size: 2em !important;
	}
}
