// Typeface
@import url(http://fonts.googleapis.com/css?family=Roboto:300);

// Variables & Mixins
$grey: #444444;
$white: #FFFFFF;
$light-grey: #656565;
$orange: #FFA500;
$font-stack: 'Roboto', sans-serif;
$full: 100%;


// Basic Elements

body {
	padding: 0;
	margin: 0;
	background-color: $white;
	height: $full;
}

html, body {
    height: $full;
}

section {
  margin: 0 auto;
}


// Typography

h1 {
	color: $grey;
	font-size: 3em;
	font-family: $font-stack;
	letter-spacing: 3px;

	&.home {
		background-color: $white;
	}
}
	
	
h2 {
	color: $grey;
	font-family: $font-stack;
	font-size: 2em;
	line-height:1.5em;
	letter-spacing: 1.5px;
}

h3 {
	color: $grey;
	font-family: $font-stack;
	font-size: 1.5em;
}

h4 {
	font-size: 1.5em;
}

p, .pagination {
	color: $light-grey;
	line-height: 2em;
	font-family: $font-stack;
	letter-spacing: 1.5px;
	font-size: 1.2em;
}

.pagination {
	display: block;
	text-align: center;
}

ul {

	&.portfolios {
		list-style-type: none;
		list-style-position:outside;
		margin:0;
		padding:0;
	}
}

li {
	color: $light-grey;
	line-height: 2em;
	font-family: $font-stack;
	letter-spacing: 1.5px;
	font-size: 1.2em;
}

a {
	background-color: $white;
	color: $grey;

	&:focus, &:visited {
		text-decoration: none;
		background-color: $white;
		color: $grey;
	}

	&:hover, &:active {
		color: orange !important;
		background-color: $white !important;
		text-decoration: none;
	}
}

.about {
	padding-top: 15%
}

.pushdown {
	padding-top: 10%;
}

.slogan {
	padding-top: 300px;
}


/* Navigation Elements */

.navbar {
	max-width: $full;
	position: fixed;
}

.navbar-inverse {
	background-color: $white;
	border: 0px;
	float: right;
	padding-right: 0px;
}

.nav {

	li {
		padding-top: 15px;
		color: $white;
		padding-left: 15px;
		background-color: $white;
		text-shadow: none;

		a {
			text-transform: uppercase !important;
			text-shadow: 0px;
			font-weight: normal;
			color: $grey;
			-webkit-transition: color 0.3s;
			-moz-transition: color 0.3s;
			transition: color 0.3s;

			&:focus, &:hover, &:active {
				color: $orange;
			}
		}
	}
}

@media screen and (max-width: 480px) {
   .nav > li > a {
    display: block !important;
   }
}


// Structure and Layout

#home {
	min-height: $full;
	min-width: $full;
	width: $full;
	background-image: url(image_path('bg-white.jpg'));
	background-color: $white;
	display: block;
	top: 0;
	left: 0;
	z-index: 2;
	margin: 0 auto;
    padding: 0;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#contact {
	height: 450px;
	background-image: url(image_path('brisbane.jpg'));
	background-color: $white;
	background-position: fixed;
	display: block;
	max-width: $full;
	z-index: 0;
}

#subscribe {
	padding-top: 2%;
	padding-bottom: 2%;
}

// Images

.centered {
    display: block;
    margin: 0 auto;
    text-align: center;
}

// Fields

input {
	font-family: $font-stack;
	font-size: 1.5em;
	letter-spacing: 0.5px;
	height: 3em;
	color: $orange;
	background: $white;
	border: 1px solid $orange;
	box-shadow: none;
	border-radius: 0px;
	width: $full !important;
	margin: 0 auto;

	&.subscribe {
		width: 40% !important;
	}

	&:hover {
		color: $white;
		background-color: $orange;
	}
}

select#portfolio_tag_id {
	font-size: 1.5em;
	padding-top: 10px;
}

input#name, input#password, input#portfolio_title, textarea#portfolio_content, textarea#portfolio_body, select#portfolio_tag_id, input#journal_title, textarea#journal_content, input#user_name, input#user_password, input#user_password_confirmation, input#tag_tag {
	font-family: $font-stack;
	letter-spacing: 0.5px;
	height: 3em;
	color: $grey;
	background: $white;
	border: 1px solid $orange;
	font-size: 1.5em;
	line-height:1.5em;
	box-shadow: none;
	border-radius: 0px;
	width: $full;
	padding: 7px 7px;
}

input#email {
	font-family: $font-stack;
	letter-spacing: 0.5px;
	height: 3em;
	color: $grey;
	background: $white;
	border: 1px solid $orange;
	font-size: 1.5em;
	line-height:1.5em;
	box-shadow: none;
	border-radius: 0px;
	width: 40% !important;
	padding: 7px 7px;
	text-align: center;
}

button, select {
	font-family: $font-stack;
	letter-spacing: 0.5px;
	color: $grey;
	background: $white;
	border: 1px solid $grey;
}

textarea#portfolio_content, textarea#journal_content, textarea#portfolio_body {
	height: 300px !important;
}

.btn .btn-navbar {
	background-color: transparent;
}

.navbar-toggle .icon-bar {
	background-color: $orange;
}

// Media Queries

@media (max-width: 500px) {

	h1 {
		font-size: 2.5em !important;
	}
}

@media (max-width: 950px) {
	input.subscribe, input#email {
		width: $full !important;
	}
}