.navbar.navbar-inverse.navbar-fixed-top
	.container
		.navbar-header
			%button{ :type => "button", :class => "navbar-toggle", 'data-toggle' => "collapse", 'data-target' => ".navbar-collapse"}
				%span{ :class => "sr-only" } Toggle navigation
				%span{ :class => "icon-bar" }
				%span{ :class => "icon-bar" }
				%span{ :class => "icon-bar" }
			%div{ :class => "collapse navbar-collapse" }
				%ul{ :class => "nav navbar-nav pull-right" }
					-if User.find_by_id(session[:user_id])
						%li
							=link_to 'Home', '/'
						%li
							=link_to 'Work', '/portfolios/'
						%li
							=link_to 'Journal', '/journals/'
						%li
							=link_to 'Get in Touch', '/contact/'
						%li
							=link_to 'Users', '/users'
						%li
							=link_to 'Log Out', logout_path, method: :delete

					-else
						%li
							=link_to 'Home', '/'
						%li
							=link_to 'Work', '/portfolios/'
						%li
							=link_to 'Journal', '/journals/'
						%li
							=link_to 'Get in Touch', '/contact'