#navigation.navbar-fixed-top
	%button{ :id => "#collapsible", :class => "btn btn-navbar navbar-toggle", "data-toggle" => "collapse", "data-target" => ".nav-collapse" }
		%span{ :class=> "sr-only" } Toggle Navigation
		%span.icon-bar
		%span.icon-bar
		%span.icon-bar
	#nav.container.nav-collapse
		%ul.nav.navbar-nav.navbar-right
			-if User.find_by_id(session[:user_id])
				%li
					=link_to 'Work', '/portfolios/'
				%li
					=link_to 'Journal', '/journals/'
				%li
					=link_to 'Get in Touch', '/contact/'
				%li
					|
				%li
					=link_to 'Portfolio', '/portfolios/'
				%li
					=link_to 'Users', '/users'
				%li
					=link_to 'Log Out', logout_path, method: :delete

			-else
				%li
					=link_to 'Work', '/portfolios/'
				%li
					=link_to 'Journal', '/journals/'
				%li
					=link_to 'Get in Touch', '/contact'