!!!
%html
%head
	%title Luchia Bloomfield
	= stylesheet_link_tag "application", controller.controller_name
	= javascript_include_tag "application", controller.controller_name
	= csrf_meta_tags
	%meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"}

%body
	#nav
		%ul.nav
			%li
				=link_to 'Work', '/portfolios'
			%li
				=link_to 'Journal', '/journals'
			%li
				=link_to 'Users', '/users'
			%li
				=link_to 'Log Out', logout_path, method: :delete

	= yield