!!!
%html
%head
	%title=yield(:title)
	= stylesheet_link_tag "application", controller.controller_name
	= javascript_include_tag "application", controller.controller_name
	= csrf_meta_tags
	%meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"}

%body
	.navbar.navbar-fluid-top.navbar-fixed-top
		.navbar-inner
			.container
				%a{ :class => "btn btn-navbar", "data-toggle" => "collapse", "data-target" => ".navbar-collapse" }
					%span{ :class=> "sr-only" } Toggle Navigation
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
			.container.nav-collapse
				%ul.nav.navbar-nav.navbar-right
					-if User.find_by_id(session[:user_id])
						%li
							=link_to 'Home', '/'
						%li
							=link_to 'About', '/about/'
						%li
							=link_to 'Work', '/portfolios/'
						%li
							=link_to 'Journal', '/journals/'
						%li
							=link_to 'Get in Touch', '/contact/'
						%li
							|
						%li
							=link_to 'Users', '/users'
						%li
							=link_to 'Log Out', logout_path, method: :delete

					-else
						%li
							=link_to 'Home', '/'
						%li
							=link_to 'About', '/about/'
						%li
							=link_to 'Work', '/portfolios/'
						%li
							=link_to 'Journal', '/journals/'
						%li
							=link_to 'Get in Touch', '/contact'

	= yield

	=render 'layouts/footer'
